<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <h5>Фильтры</h5>

    <form th:action="@{/products}"
          method="get"
          class="form-horizontal">

        <div class="row">
            <div class="col">
                <p>Min price:
                    <input type="number" th:value="${minPrice != 0} ? ${minPrice}" name="minPrice"
                           placeholder="Min price" class="form-control" min="0"/>
                </p>
            </div>
            <div class="col">
                <p>Max price:
                    <input type="number" th:value="${maxPrice != 0} ? ${maxPrice}" name="maxPrice"
                           placeholder="Max price" class="form-control" min="0"/>
                </p>
            </div>
            <div class="col">
                <p>Title:
                    <input th:value="${word != null} ? ${word}" name="word" placeholder="word" class="form-control"/>
                </p>
            </div>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>

    </form>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"></a>
                <br>
                <a th:href="@{'/products/edit/' + ${product.id}}" th:text="Редактировать"></a>
                <br>
                <a th:href="@{'/products/delete/' + ${product.id}}" th:text="Удалить"></a>
            </td>
        </tr>
        </tbody>
    </table>


    <span th:text="${'Всего товаров ' + products.size()}"></span>


    <form th:action="@{/products/add}" class="form-horizontal">
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Add new product</button>
            </div>
        </div>
    </form>

</div>

</body>

</html>
